{% extends 'base.html' %}

{% block title %}Your mailing lists{% endblock %}

{% block body %}
<div class="row user-mailing-lists">
    <div class="col-sm-12">
        <h1 class="text-center">Your Mailing Lists</h1>
        <p class="lead">Your mailing lists:</p>
        <div class="list-group">
            {% for m in mailinglist_list %}
                <a class="list-group-item list-group-item-action mailinglist-item"
                    href="{% url "mailinglist:manage-mailinglist" pk=m.id %}">
                    {{m.name}}
                </a>
            {% endfor %}
        </div>
        <ul class="list-group">
            </li>
        </ul>

        <ul class="mailing-list-list">
        </ul>
        <a class="btn btn-primary btn-block" href="{% url 'mailinglist:create-mailinglist' %}">Create New List</a>
    </div>
</div>
{% endblock %}
